MONGO_URI=mongodb+srv://<username>:<password>@<your-cluster>.mongodb.net/taskmanager?retryWrites=true&w=majority&appName=Cluster0&authSource=admin
JWT_SECRET=2J8zqkP7VN6bxzg+Wy7DXCsd3Yx8mF3Bl0kch6HYtFs=
PORT=5001
